<%-include('header.ejs')%>

<body class="bg-gradient-to-br text-stone-950-noto-sans-kr">
  <div class="max-w-screen-xl mx-auto px-4">
    <header class="flex justify-between items-center py-6">
      <div class="flex items-center">
      </div>
    </header>
    
    <main class="text-center mt-48">
      <h1 class="text-5xl font-bold mb-6">모두의 견적서</h1>

      <div class="flex justify-center">
        <a class="text-3xl">견적서로 전달 1초로 인해 거래를 성사시켜보세요 시간을 확줄이기 위해 만들어냈습니다.</a>
      </div>
    </main>
  </div>
  
<%-include('footer.ejs')%>