<!-- Footer 시작 -->
<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <!-- 로고와 타이틀 -->
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <div class="flex items-center justify-center p-4">
        <img src="./images/logo..png" alt="KEYFRAME" class="w-20 h-20 p-2 bg-transparent rounded-full">      <span class="ml-3 text-xl">모두의 견적서</span>
    </div>
      </svg>
    </a>
    <!-- 저작권 정보 -->
    <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2024 KEY FRAME —
      <a href="https://www.instagram.com/studio_keyframe.photo/" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@ 안요한,임진수</a>
    </p>
    <!-- 소셜 미디어 아이콘 -->
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <!-- 아이콘 SVG -->
      </a>
      <!-- 추가 소셜 아이콘 -->
    </span>
  </div>
</footer>
<!-- Footer 끝 -->

</body>
</html>