<%-include('header.ejs')%>

<body class="bg-white text-stone-950-noto-sans-kr">
  <div class="max-w-screen-xl mx-auto px-4">
    <header class="flex justify-between items-center py-6">
      <div class="flex items-center">
      </div>
    </header>
    
    <main class="text-center mt-48">
      <h1 class="text-5xl font-bold mb-6">공지사항 테스트 페이지입니다</h1>
      <p class="mb-12">여기는 공지사항 페이지입니다.</p>
      <div class="flex justify-center">
        <a href="온라인견적서" class="text-xl">공지사항 사용하시면됩니다 테스트</a>
      </div>
    </main>
  </div>
  
<%-include('footer.ejs')%>